$gutter: 12px;
$uicomp-bd-radius: 2px;


body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:400;
	font-style: normal;
	font-size: 14px;
}

.gvp {
	$border-radius: 8px;
	$day-height: 30px;
	$hours-parts-height: 16px;
	$range-h-margin: 2px;
	$range-v-margin: 2px;
	$border-outer: 1px solid lightgrey;
	%border-inner{
		&:after{
			position: absolute;
			top: 0;
			left: -1px;

			display: block;
			content: '';
			width: 1px;
			height: 100%;

			background-color: rgba(black, .1);
		}
	}
	%border-inner-xl{
		@extend %border-inner;
		&:after{
			background-color: rgba(black, .3);
		}
	}

	// @todo remove after reintegration in global project

	%no-select {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	& > div{
		box-sizing: border-box;
	}

	// --- end @todo


	// ############################## controls

	.gvp-controls{
		$state-selector-bullet-size: 12px;

		padding: $gutter;

		.gvp-state-selector{
			position: relative;

			display: inline-block;
			padding: (.5 * $gutter) (.5 * $gutter) (.5 * $gutter) ($state-selector-bullet-size + $gutter);
			margin-left: $gutter;

			border-radius: 2px;
			border: 1px lightgrey solid;

			cursor: pointer;
			@extend %no-select;

			&.active{
				background-color: lightgrey;
			}

			.bullet{
				position: absolute;
				top: 50%;
				left: (.5 * $gutter);
				transform: translateY(-50%);

				content: '';
				width: $state-selector-bullet-size;
				height: $state-selector-bullet-size;
				border: 1px lightgrey solid;
				border-radius: $uicomp-bd-radius;

				pointer-events: none;
			}
		}
	}

	.gvp-container{
		border: $border-outer;
	}


	// ############################## rows & cells

	%gvp-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
	}
	%gvp-cell {
		position: relative;
		flex: 1 1 100px;
	}

	// --- rows

	.gvp-row__hours{
		@extend %gvp-row;

		height: $day-height;
		line-height: $day-height;
		border-bottom: $border-outer;
	}
	.gvp-row__hour-parts{
		@extend %gvp-row;

		height: $hours-parts-height;
		line-height: $hours-parts-height;
		border-bottom: $border-outer;
	}
	.gvp-row__day {
		@extend %gvp-row;
		height: $day-height;
		line-height: $day-height;
	}


	// --- cells

	.gvp__hour, .gvp__hour-part {
		@extend %gvp-cell;
		@extend %no-select;
		cursor: pointer;
		@extend %border-inner;
	}
	.gvp__hour{
		padding-left: .25 * $gutter;
		text-align:left;
	}
	.gvp__day{
		@extend %no-select;
	}
	.gvp__block {
		@extend %gvp-cell;
		@extend %no-select;

		position: relative;

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-1px, -1px);

			display: block;
			content: '';
			height: 1px;
			width: 1px;

			border-radius: 50%;
			background-color: rgba(black, .3);
		}

		&.gvp--target-hover{
			background-color: rgba(black, .05);
		}
	}

	.gvp-row > div:first-child{
		flex: 0 0 100px;
		padding: 0 4px;
	}

	.gvp--hour-start{
		@extend %border-inner;
	}
	.gvp--hour-start-xl{
		@extend %border-inner-xl;
	}


	// ############################## ranges

	.gvp__range{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;

		display: block;
		height: 100%;

		@extend %no-select;
		pointer-events: none;

		.gvp__range-area{
			position: absolute;
			top: $range-v-margin;
			bottom: $range-v-margin;
			left: $range-h-margin;
			right: $range-h-margin;

			display: block;
			opacity: .7;
			border-radius: $border-radius;
		}

		.gvp__range-tooltip{
			position: absolute;
			top: $gutter;
			left: .5 * $gutter;
			transform: translate(-100%, -100%);

			display: none;

			padding: .5 * $gutter;
			background-color: rgba(black, .8);
			border-radius: $uicomp-bd-radius;

			text-align: center;
			line-height: 110%;
			height: auto;
			color: white;
			white-space: nowrap;
		}

		&.show-tooltip{
			.gvp__range-area{
				opacity: .9;
			}
			.gvp__range-tooltip{
				display: block;
			}
		}
	}
}